p {
  font-size: 14pt;
}

#title {
  font-size: 32pt;
}
#avatar {
  max-width: 20vw;
  margin-right: min(32px, 5vw);
  margin-bottom: 8px;
}
#navbar {
  padding: 1vh 0;
}
#homeBody {
  padding: 4vh 0;
}
#foot {
  color: #c0c0c0;
  padding: 24px 0;
}
